astroalign
astropy
astroquery
barycorrpy
dynesty;platform_system=='Windows'
holoviews
importlib-metadata
imreg_dft
LDTk
lmfit
matplotlib
numpy
pandas
panel
photutils
pylightcurve
python_dateutil
python_version
pyvo
requests
scipy
scikit-image
tenacity
ultranest;platform_system!='Windows'
